@import '../../../index';

.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 0;

  .right-box {
    grid-area: 1 / 2 / 2 / 3;

    @include flex-center-column;

    justify-content: center;
  }

  .left-box {
    grid-area: 1 / 1 / 2 / 2;

    @include flex-center-column;

    justify-content: center;
  }
}

.pane {
  height: 60%;
  width: 70vw;
  color: white;
  background: rgb(255 255 255 / 23%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(6.1px);
  border: 1px solid rgb(255 255 255 / 43%);

  span {
    margin-left: 0;
    font-family: Montserrat, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: small;
  }

  a {
    color: rgb(109 209 255);
    text-decoration: none;
  }
}
