@import '../../index';

.thread-icon {
  content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='1' fill-rule='evenodd' clip-rule='evenodd' d='M8 14.4999C7.48839 14.4999 6.98962 14.4537 6.50472 14.3734L3.00005 16.5001V12.9596C1.17274 11.6767 -1.00136e-05 9.70951 -1.00136e-05 7.49994C-1.00136e-05 3.63404 3.58176 0.499972 8 0.499972C12.4183 0.499972 16 3.63404 16 7.49994C16 11.3661 12.4183 14.4999 8 14.4999ZM8 1.50014C4.13401 1.50014 0.999998 4.18641 0.999998 7.49994C0.999998 9.53322 2.18285 11.3268 3.98764 12.4121L3.9561 14.7313L6.30987 13.3165C6.85203 13.432 7.41612 13.5 8 13.5C11.866 13.5 15.0001 10.8138 15.0001 7.49994C15.0001 4.18641 11.866 1.50014 8 1.50014ZM11.5 7.00002H4.50001C4.22387 7.00002 3.99999 6.77605 3.99999 6.50006C3.99999 6.22379 4.22387 6 4.50001 6H11.5C11.7761 6 12 6.22379 12 6.50006C12 6.77605 11.7761 7.00002 11.5 7.00002ZM5.50002 9.00002H10.5C10.7762 9.00002 11.0001 9.22385 11.0001 9.49999C11.0001 9.77627 10.7762 10.0001 10.5 10.0001H5.50002C5.22382 10.0001 5.00001 9.77627 5.00001 9.49999C5.00001 9.22385 5.22382 9.00002 5.50002 9.00002Z' fill='white'/%3E%3C/svg%3E%0A");
}

.channels {
  @include flex-between;

  flex-wrap: wrap;
  margin-top: 30px;

  &-header {
    margin-left: 0;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-items {
    width: 100%;
    margin-top: 14px;
  }

  .channel {
    @include flex-align-center;

    border: none;
    background-color: transparent;
    width: 100%;
    height: 30px;
    padding-bottom: 2px;
    color: #b5b5b5;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;

    span {
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;

      &::before {
        content: '# ';
      }
    }

    button {
      padding: 0;
      background: none;
      margin-left: auto;
      margin-right: 8px;
      height: 50%;
      width: 5%;
      border: none;
      opacity: 0.7;
      cursor: pointer;
    }

    &.active {
      background: rgb(255 255 255 / 10%);
      border-radius: 5px;

      span {
        color: #fff;
      }
    }

    .dropdown {
      position: absolute;
      display: none;
      flex-direction: column;
      left: 5vw;
      top: 5vh;
      padding: 0;
      background: white;
      border-radius: 4px;
      z-index: 100;

      &.visible {
        display: flex;
      }

      button {
        width: auto;
        margin: 3px;
        padding: 10px;
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
        color: black;
        border-radius: 4px;
        text-align: left;

        &:hover {
          background-color: #b5b5b5;
          transition: all 0.4s;
        }
      }
    }
  }
}

.dropdown-icon {
  &:hover {
    transform: scale(1.5);
  }

  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.server-sidebar {
  position: relative;
  min-width: 160px;
  width: 260px;
  height: 100vh;
  overflow: hidden;
  padding: 35px 23px 15px;
  background: #25272a;
  mix-blend-mode: normal;
  opacity: 0.75;

  @include scrollbars(10px, rgba(255, 255, 255, 0.1), none, 3px);

  .resizer {
    position: absolute;
    cursor: col-resize;
    right: 0;
    top: 0;
    width: 5px;
    height: 100vh;
  }

  .server-header {
    display: flex;
    align-items: center;

    h2 {
      @include reset;

      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
    }
  }
}

.plus-icon {
  cursor: pointer;
  transition: all 0.4s;
  color: white;
  content: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M9 17a1 1 0 102 0v-6h6a1 1 0 100-2h-6V3a1 1 0 10-2 0v6H3a1 1 0 000 2h6v6z'/%3E%3C/svg%3E");

  &:hover {
    transform: rotate(180deg) scale(1.25);
  }
}

.hide-btn {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  background: rgb(0 0 0 / 30%);

  &.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    display: flex;
    font-family: Roboto, sans-serif;
  }
}

.text-center {
  text-align: center;
}

.server-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn-success {
    padding: 5px;
    margin-bottom: 10px;
    width: 94%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    height: 100%;
    background: transparent;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(8.1px);
    border: 1px solid rgb(255 255 255 / 43%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: rgb(186 255 173 / 30%);
      border-color: rgb(186 255 173 / 30%);
      box-shadow: 0 4px 30px rgb(186 255 173 / 20%);
    }
  }

  .btn-cancel {
    padding: 5px;
    margin-bottom: 10px;
    width: 94%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    height: 100%;
    background: transparent;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(8.1px);
    border: 1px solid rgb(255 255 255 / 43%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: rgb(250 147 147 / 30%);
      border-color: rgb(250 147 147 / 30%);
      box-shadow: 0 4px 30px rgb(250 147 147 / 30%);
    }
  }
}

.server-name-input {
  padding: 10px;
  margin: 10px 20px 0;
  height: 100%;
  width: 90%;
  outline: none;
  font-size: large;
  color: white;
  background: rgb(255 255 255 / 5%);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(7.1px);
  border: 1px solid rgb(255 255 255 / 43%);
  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: white;
  }
}
